#rcol {
    -fx-background-color:#2d3142;
}
.label {
    -fx-font: 24px "Montserrat";
    -fx-font-weight: 900;
}
.button {
    -fx-font: 14px "Montserrat";
    -fx-text-fill: white;
    -fx-padding: 15px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-color: #2d3142;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-pref-width: 240px;
}

.button:hover {
    -fx-background-color:#354360;
  }

#description {
    -fx-padding: 15px;
} 

#previewTitle {
    -fx-text-fill: white;
}
#errorLogTitle {
    -fx-text-fill: white;
}

#output {
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-min-height: 150px;
}

#errorLog {
    -fx-min-height: 25px;
}

.text-area .content{
    -fx-background-color: white;
}

.popup {
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-padding: 15px;
}
